
p {
    font-family: serif;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
	background-color:lightblue;
}

tr:nth-child(even)  {
	background-color:lightgray;
}

tr:nth-child(odd)  {
	background-color:white;
}

table {
	width:100%
}

.hor {
 width:40px
}

.mat {
	font-weight: bold;
}

.cours {
	display:inline-block;
	padding:4px;
}
